.body                 { background-color: white; }

.rightWrapper         { background-color: red; float: right;}

.leftWrapper          { background-color: navy; float: left;}

.footer               { background-color: green; clear: both; bottom: 0;}

.blq-nav {overflow: hidden; padding-bottom:8px;}
#blq-blocks {float: left;}

#mainNavigation         { float: right;}
#mainNavigation a       { border-bottom:4px solid white; border-right:1px solid #CCCCCC; color:#333333;
                          font:700 13px arial,​helvetica,​sans-serif; padding:8px 30px; text-decoration:none; }

#mainNavigation a:hover { border-bottom:4px solid #000000;}

#mainNavigation a:nth-child(1) { border-left:1px solid #CCCCCC; }
#mainNavigation form    { display: inline;}


